/*GERAL*/
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
}

header img{
    width: 30%;    
}


/*FILTRO*/
#filtro{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#filtro-input{
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 3px 1px black;
    text-decoration: none;
    width: 250px;
    
}

/*CONTAINER*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

/*CARD JOGADORES*/
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    margin: 25px;
    width: 250px;
    height: 180px;
    
    margin-top: 65px;
    color: white;
    border-radius: 15px;
}

.card h3{
    margin-top: 15px;
}

.card img{
    border-radius: 50px;
    margin-top: -45px;
    width: 100px;
    border: 1px solid white;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0 8px 0 black;
    color: rgb(225, 225, 225);
}

/*Responsivo*/
@media screen and (max-width: 768px) {
    header img{
        width: 50%;
    }
    input{
        box-shadow: 1px 1px 3px 1px black;
    }
}



/*RESPONSIVO DE FORMA NATURAL*/