/*GERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*MOBILE FIRST*/
header{
    background-color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
}
header img{
    width: 50%;
}
.container-detalhes{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*BOX JOGADOR*/

#box-jogador{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 5%;
    padding: 15px;
    width: 80%;
    
}
#box-jogador img{
    width: 150px;
    border-radius: 5%;
    object-fit: contain;
    border: 1px white solid;
}
#principal{
    border: 1px white solid;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: 5%;
}
#box-jogador h3{
    opacity: 0.8;
    text-align: center;
}

#box-jogador h4{
    margin: 5px;
    text-align: center;
}
#box-jogador p{
    text-align: center;
    margin: 5px;
    font-size: 18px;
}


/*BUTTON*/
button{
    padding: 10px;
    width: 100px;
    align-self: center;
    margin: 0;

    border-radius: 5%;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 1px 1px 3px 1px black;
    margin-bottom: 25px;
}
button:hover{
    box-shadow: 2px 2px 6px 2px black;
    color: rgba(0, 0, 0, 0.542);
    cursor: pointer;
}

/*Responsividade*/
@media screen and (min-width: 768px) {
    header img{
        width: 60%;
    }
    #box-jogador{
        width: 500px;
    }
}

@media screen and (min-width: 1224px) {
    header img{
        width: 30%;
    }
    #box-jogador{
        width: 600px;
    }
}
@media screen and (min-width: 1824px) {
    header img{
        width: 450px;
    }
    #box-jogador{
        width: 800px;

    }
}
